DLParsingService/Service References/IDScanWebAPI/DriverLicenseParser1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://dlpws.idware.net" elementFormDefault="qualified" targetNamespace="http://dlpws.idware.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ParseBase64Utf16String">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="terminalId" nillable="true" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseBase64Utf16StringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParseBase64Utf16StringResult" nillable="true" type="tns:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComplementaryServices" nillable="true" type="tns:ArrayOfComplementaryService" />
      <xs:element minOccurs="0" name="DriverLicense" nillable="true" type="tns:DriverLicense" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="ArrayOfComplementaryService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComplementaryService" nillable="true" type="tns:ComplementaryService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComplementaryService" nillable="true" type="tns:ArrayOfComplementaryService" />
  <xs:complexType name="ComplementaryService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComplementaryService" nillable="true" type="tns:ComplementaryService" />
  <xs:complexType name="DriverLicense">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Birthdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClassificationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndorsementsCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EyeColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HairColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IssueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IssuedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JurisdictionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicenseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NamePrefix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameSuffix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Race" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestrictionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeightKG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeightLBS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DriverLicense" nillable="true" type="tns:DriverLicense" />
  <xs:element name="ParseBase64AsciiString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="terminalId" nillable="true" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseBase64AsciiStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParseBase64AsciiStringResult" nillable="true" type="tns:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseBase64Binary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="terminalId" nillable="true" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseBase64BinaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParseBase64BinaryResult" nillable="true" type="tns:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenseText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="terminalId" nillable="true" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParseStringResult" nillable="true" type="tns:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="base64AsciiEncodedString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>